#join {
  font-size: 35px;
  letter-spacing: 16px;
  text-align: center;
  margin-left: 19px;
}
.joinbox {
  background-color: white;
  width: 480px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  box-sizing: content-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  margin-top: 90px;
}

.loginbtn2 {
  background-color: rgba(051, 82, 143, 0.8);
  border: none;
  color: white;
  width: 160px;
  height: 28px;
  font-size: 13px;
  border-radius: 5px;
  letter-spacing: 1px;
  margin-top: 5px;
}

.join_title {
  text-align: left;
  margin-bottom: 10px;
  display: block;
  width: 300px;
  padding-left: 5px;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 1px;
}

.join_row {
  align-items: center;
  flex-wrap: wrap; /* Wrap the items onto multiple lines */
}

.ps_box input {
  width: 100%;
  box-sizing: border-box;
  margin-top: -3px;
  margin-bottom: 5px;
}

.submitbtn {
  margin-top: 40px;
  background-color: rgb(51, 82, 143);
  border: none;
  display: block;
  width: 300px;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 100;
  text-align: center;
  box-sizing: border-box;
  color: white;
  border-radius: 5px;
  letter-spacing: 3px;
  font-weight: 700;
}
