#loginp {
    font-size: 28px;
}

.box2 {
    background-color: white;
    width: 480px;
    height: 600px;
    display: flex;
    justify-content: center; /* 가로 가운데 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
    border-radius: 20px;
}

input {
    width: 300px;
    border: none;
    border-bottom: 2px solid black;
}

input::placeholder {
    padding-left: 20px; /* 원하는 만큼 왼쪽 패딩 추가 */
}

.spacing {
    height: 2em;
}