.Welcome {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Welcome .inputForm {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Welcome > div {
  display: flex;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  padding: 10px 20px;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-left .logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.site-name {
  font-size: 20px;
}

.navbar-right .mypage-link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 600;
}

.navbar-right .mypage-link:hover {
  text-decoration: underline;
}

.welcomediv {
  margin-top: 60px;
  margin-left: 70px;
}

.logout {
  color: #878787;
  letter-spacing: 1px;
}